<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
</head>

<body>

  <form action="/back" method="post" class="forenotfore">
    <p style="margin:20px auto; color:  #17252a;">404 error</p>
    <img src="/images/cheams404.png" alt="">
    <h3 style="font-size: 30px; font-weight: 700; margin:20px auto; color:  #17252a;">The requested resource could not
      be found on the server.</h3>
    <button>Go back</button>
  </form>
</body>

</html>