<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
</head>

<body>
  <form class="fivehundred" action="/back" method="post" class="forenotfore">
    <p>500 error</p>
    <button>Go back</button>
    <h3 style="font-size: 30px; font-weight: 700; margin:20px auto; color:  #17252a;">The server encountered an error
      while processing the request.</h3>

  </form>
</body>

</html>