<nav>
  <div style="display: flex">
    <button class="nav-btn open-btn">
      <i class="fas fa-bars"></i>
    </button>
    <h1>G N C E-learning</h1>
  </div>
  <div class="nav nav-black">
    <div class="nav nav-red">
      <div class="nav nav-white">
        <button class="nav-btn close-btn">
          <i class="fas fa-times"></i>
        </button>

        <ul class="list">
          <li><a href="/logout">Logout</a></li>
          <li><a href="#">Teams</a></li>
          <li><a href="/contact">Contact</a></li>
          <li>
            <ul>
              <li><a href="/about">About</a></li>

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script src="/js/nav.js"></script>
</nav>