<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
        <link rel="stylesheet" href="/styles/nav.css" />
</head>

<body>
    <%- include('includes/navebar') %>
        <main id="about">
            <div id="h3">
                <h3>About</h3>
            </div>

            <div id="abDiv1">
                Welcome to our e-learning website! Our mission is to provide quality
                education to students all over the world through an accessible and
                engaging e-learning platform. We understand that education is a
                fundamental right, and we strive to provide high-quality courses to
                anyone who wants to learn.
            </div>
            <div id="abDiv2">
                Our platform includes video and audio content for each subject, which is
                delivered by expert faculty members. We believe that video and audio are
                essential tools for learning, as they help to break down complex topics
                into easily digestible pieces. Each course is broken down into
                manageable sub-topics, and students can watch the video or listen to the
                audio for each sub-topic at their convenience. We also offer random
                quizzes to help students test their knowledge and reinforce what they've
                learned. Our quizzes are designed to be fun and engaging, and they help
                students to measure their progress and identify areas where they need to
                focus more attention. Our platform has two levels of administrative
                access: main admin and faculty. The main admin is responsible for
                managing the overall platform, including user accounts, course content,
                and student performance. The faculty members are responsible for
                developing course content and managing the day-to-day operations of the
                platform. Thank you for choosing our e-learning website for your
                education needs. We are committed to providing high-quality education to
                anyone who wants to learn, and we believe that our platform will help
                you achieve your academic and professional goals.
            </div>
            <div id="developer" style="
          display: flex;
          justify-content: center;
          color: #17252a;
          font-size: 30px;
          font-weight: 800;
          width: 90%;
          margin: 30px auto;
        ">
                Developed By:
                <span style="color: white; margin-left: 10px;">Rithish Kumar S</span>
            </div>
        </main>
</body>

</html>