<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
        <link rel="stylesheet" href="/styles/nav.css">
</head>

<body>
    <%- include('includes/navebar') %>
        <main class="socioCont">
            <h3 style="margin-top: 30px;">Contact us using following social media platforms</h3>
            <div id="contactContainor">
                <a href="#" id="faceBook" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="mailto:youremail@example.com" class="fa fa-envelope"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
        </main>
</body>

</html>