<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles/semester_page.css" />
    <%- include('includes/head') %>
    <title>semester_page</title>
  </head>
  <body>
    <%- include('includes/navebar') %>

    <main>
      <div id="semester_container">
        <a href="/semester1/subjects">
          <button type="button" class="btn btn-outline-primary">
            Semester 1
          </button>
        </a>
        <a href="/semester2/subjects">
          <button type="button" class="btn btn-outline-primary">
            Semester 2
          </button>
        </a>
        <a href="/semester3/subjects">
          <button type="button" class="btn btn-outline-primary">
            Semester 3
          </button>
        </a>
        <a href="/semester4/subjects">
          <button type="button" class="btn btn-outline-primary">
            Semester 4
          </button>
        </a>
        <a href="/semester5/subjects">
          <button type="button" class="btn btn-outline-primary">
            Semester 5
          </button>
        </a>
        <a href="/semester6/subjects">
          <button type="button" class="btn btn-outline-primary">
            Semester 6
          </button>
        </a>
      </div>
    </main>
  </body>
</html>
