form {
  background-image: linear-gradient(to bottom right, #def2f1, #3aafa9);
  width: 80%;
  border-radius: 10px;
  margin: 60px auto;
  padding: 20px 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
input {
  width: 80%;
  margin: 10px auto !important;
  border-radius: 10px;
  border: 1px solid #def2f1;
  padding: 10px;
}
form button {
  padding: 10px !important;
  width: 10%;
  margin: 10px auto !important;
  border-radius: 10px !important;
  background-color: #17252a !important;
  color: #feffff !important;
  border: 2px solid #feffff !important;
}
form button:hover {
  background-color: #feffff !important;
  color: #17252a !important;
  border: 2px solid #17252a !important;
}
form button:active {
  background-color: #2b7a78 !important;
  color: #feffff !important;
  border: 2px solid #feffff !important;
}
/* #logout {
  position: absolute;
  right: 30px !important;
  font-size: 30px;
  margin: 5px;
} */
