#subject_container {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  width: 50%;
  align-items: center;
  margin: 100px auto;
  background-image: linear-gradient(to bottom right, #def2f1, #3aafa9);
  /* background-color: rgba(255, 255, 255, 0); */
  border-radius: 10px;
  padding: 60px 0px 80px 0px !important;
}
#subject_container a {
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center;
  text-align: center !important;
  text-decoration: none;
}
#subject_container a button {
  width: 60% !important;
  height: 90px !important;
  margin-top: 40px !important;
  background-color: #17252a !important;
  color: #feffff !important;
  border: 2px solid #feffff !important;
  display: flex;
  padding: auto;
}
#subject_container a button:hover {
  background-color: #feffff !important;
  color: #17252a !important;
  border: 2px solid #17252a !important;
}
#subject_container a button:active {
  background-color: #2b7a78 !important;
  color: #feffff !important;
  border: 2px solid #feffff !important;
}

@media screen and (max-width: 560px) {
  #subject_container a button {
    width: 80% !important;
    height: 15vh !important;
  }
  #subject_container {
    width: 85%;
  }
}
